    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <%= form_for(@objectbasis) do |f| %>
              <%= render 'shared/error_messages', object: f.object %>

              <%= f.label :name %>
              <%= f.text_field :name, class: "input-sm" %>

              <%= f.label :email %>
              <%= f.text_field :email, class: "input-sm" %>

              <%= f.label :company_name %>
              <%= f.text_field :company_name, class: "input-sm" %>

              <%= f.label :company_type %>
              <%= f.select :company_type, options_for_select([["StartUp", "StartUp"], ["Accelerator", "Accelerator"], ["Incubator", "Incubator"], ["Coworking", "Coworking"], ["Investor", "Investor"], ["Consalting", "Consalting"], ["Event", "Event"]], selected: :option) %>


              <%= f.label :address %>
              <%= f.text_field :address, :id => "autocomplete", class: "input-sm" %>

              <%= f.label :website %>
              <%= f.text_field :website, class: "input-sm" %>

              <%= f.label :description %>
              <%= f.text_field :description, class: "input-sm" %>

              <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
          <% end %>

        </div>
      </div>
    </div>
